<h1>filter select example</h1>

{{#filter-select on-search=(action 'findResults') as |sb results|}}
  {{#each results as |result|}}
    {{sb.option value=result label=result.name}}
  {{/each}}
{{/filter-select}}