<h1>filter select example</h1>

<p>
  Selected bread: {{selectedBread.name}}
</p>

{{#filter-select on-search=(action 'findResults') on-select=(action 'selectABread') as |sb results|}}
  {{#each results as |result|}}
    {{sb.option value=result label=result.name}}
  {{/each}}
{{/filter-select}}